* {
    box-sizing: border-box;
  }
  
  body {
    margin: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
    color: #2e2f42;
    background-color: #fafafa;
    padding: 16px;
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border: transparent;
    border-radius: 8px;
  
    color: #fff;
  }



  /* task-1 */


  .list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-radius: 8px;
  }


  .main-item {
    border-radius: 8px;
    padding: 16px;
    width: 392px;
    height: auto;
    background-color: #f6f6fe;
    margin: 24px;
  }


  .list-title {
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    margin-bottom: 16px;
  }


  .list-item {
    display: flex;
    align-items: center;
    padding: 8px;
    padding-left: 16px;
    border-width: 1px;
    border-style: solid;
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border-color: #808080;
    font-weight: 400;
  }


  .list-item:not(:last-child) {
    margin-bottom: 8px;
  }


  /* task-2 */
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    gap: 48px 24px;
    justify-content: center;
  }

  
  .gallery-image {
    width: 300px;
    height:auto
  }

  
  /* task-3 */
  
  .input-3 {
    width: 360px;
    height: 40px;
    padding: 8px;
    padding-left: 16px;
    border-radius: 4px;
    font-weight: 400;
  }


  .title-3 {
    font-weight: 600;
    font-size: 24px;
  }

  
  /* task-4 */


  .login-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    padding: 24px;
    width: 408px;
    height: 256px;
  }


  .label-input {
    width: 360px;
    height: 72px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    font-weight: 400;
  }


  .input-4 {
    width: 360px;
    height: 40px;
  }


  .button-4 {
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    background: #4e75ff;
  }
  
  .btn:hover,
  .btn:focus {
    background: #6c8cff;
  }

  
  /* task-5 */


  .widget {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    padding: 100px 88px;
    width: 345px;
    height: 280px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

  .change-color {
    padding: 8px 16px;
    width: 148px;
    height: 40px;
    border: transparent;
    background: #4e75ff;
  }

  
  /* task-6 */
  

  .div-controls {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    border-radius: 8px;
    padding: 32px;
    width: 486px;
    height: 104px;
    background: #f6f6fe;
    margin-bottom: 16px;
  }

  
  .input-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #808080;
    border-radius: 8px;
    padding: 8px 72px;
    width: 150px;
    height: 40px;
    padding-right: 30px;
    font-weight: 400;
  }

  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  

  .btn-6 {
    background: #4e75ff;
    padding: 8px 16px;
    width: 120px;
    height: 40px;
  }


  .red {
    background: #ff4e4e;
  }


  .red:hover,
  .red:focus {
    background: #ff7070;
  }
  

  .boxes-6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    padding: 32px;
    width: 486px;
    height: 160px;
    background: #f6f6fe;
  }